<!-- Header Include !-->

<div class="wrapper">
	<header class="template-header clearfix">

	<div class="logo">
		{{widget('logo', 'thisunqiuewidgetname', {"defaultlogo": asset('images/logo.png')})|raw}}
	</div>

	<div class="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
	</div>

	</header>
</div>



